# Pyber Challenge

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "/content/drive/My Drive/Colab Notebooks/PyBer_Analysis/Resources/city_data.csv"
ride_data_to_load = "/content/drive/My Drive/Colab Notebooks/PyBer_Analysis/Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
pyber_data_df.to_csv('/content/drive/My Drive/test.csv')
# Display the data table for preview
pyber_data_df.head()

                 city                 date  ...  driver_count   type
0  Lake Jonathanshire  2019-01-14 10:14:22  ...             5  Urban
1  South Michelleport  2019-03-04 18:24:09  ...            72  Urban
2  Port Samanthamouth  2019-02-24 04:29:00  ...            57  Urban
3          Rodneyfort  2019-02-10 23:22:03  ...            34  Urban
4          South Jack  2019-03-06 04:28:35  ...            46  Urban

[5 rows x 6 columns]

## Deliverable 1: Get a Summary DataFrame

In [4]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(['type']).count()['ride_id']
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [5]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(['type']).sum()['driver_count']
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [6]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(['type']).sum()['fare']
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [7]:
#  4. Get the average fare per ride for each city type. 
avg_fare_ride = pyber_data_df.groupby(['type']).mean()['fare']
avg_fare_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
avg_fare_driver = pyber_data_df.groupby(['type']).sum()['fare'] / total_drivers
avg_fare_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [9]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    'Total Rides': total_rides,
    'Total Drivers': total_drivers,
    'Total Fares': total_fares,
    'Avg. Fare per Ride': avg_fare_ride,
    'Avg. Fare per Driver': avg_fare_driver
})

pyber_summary_df

          Total Rides  Total Drivers  ...  Avg. Fare per Ride  Avg. Fare per Driver
type                                  ...
Rural             125             78  ...           34.623440             55.486282
Suburban          625            490  ...           30.970128             39.502714
Urban            1625           2405  ...           24.525772             16.571468

[3 rows x 5 columns]

In [10]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

          Total Rides  Total Drivers  ...  Avg. Fare per Ride  Avg. Fare per Driver
Rural             125             78  ...           34.623440             55.486282
Suburban          625            490  ...           30.970128             39.502714
Urban            1625           2405  ...           24.525772             16.571468

[3 rows x 5 columns]

In [11]:
#  8. Format the columns.
pyber_summary_df['Total Rides'] = pyber_summary_df['Total Rides'].map('{:,}'.format)
pyber_summary_df['Total Drivers'] = pyber_summary_df['Total Drivers'].map('{:,}'.format)
pyber_summary_df['Total Fares'] = pyber_summary_df['Total Fares'].map('${:,.2f}'.format)
pyber_summary_df['Avg. Fare per Ride'] = pyber_summary_df['Avg. Fare per Ride'].map('${:.2f}'.format)
pyber_summary_df['Avg. Fare per Driver'] = pyber_summary_df['Avg. Fare per Driver'].map('${:.2f}'.format)

pyber_summary_df

         Total Rides Total Drivers  ... Avg. Fare per Ride Avg. Fare per Driver
Rural            125            78  ...             $34.62               $55.49
Suburban         625           490  ...             $30.97               $39.50
Urban          1,625         2,405  ...             $24.53               $16.57

[3 rows x 5 columns]

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
# 1. Read the merged DataFrame

In [13]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [14]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [15]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [16]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [17]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [18]:
# 7. Check that the datatype for the index is datetime using df.info()

In [19]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [20]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')